.grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 200px 200px
}
.cell{
  margin: auto;
  display: grid;
  grid-template-rows: 70% 25% ;
}

.grid Image{
  box-shadow:2px 2px 5px #333333;
  width: 250px;
  height: 150px;
  
}
.grid Text{
  font-size: 25px
}